@charset "UTF-8";

/* 
    Paleta de cores:
    Verde: #49a09d
    Roxo: #5f2c82
*/

*
{
    padding:0;
    margin:0;
}

body
{
    background-color: #cf2c82;
}

section#login
{
    width:70vw;
    height:60vh;
    background-color: white;

    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    
    /* padding:10px; */
    border-radius: 10px;
    /* vertical-align: middle; */

}

div#imagem
{
    height: 200px;
    background-image: url('../imagens/metal.jpg');
    background-position: left bottom;
    background-size: cover;
    background-repeat: no-repeat;
}
div#formulario
{
    padding: 15px 15px 20px 15px;
}